<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AlgoliaApplicationID" value="NHP4XM4T2D" />
    <add key="AlgoliaAPIKey" value="b4ee7c2e524558e5d74edf50399c5d67" />
  </appSettings>
</configuration>