<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AlgoliaApplicationID" value="CDP0NI9PBE" />
    <add key="AlgoliaAPIKey" value="afa30a23fdd0c29fd950c6b8194f4d78" />
  </appSettings>
</configuration>