<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AlgoliaApplicationID" value="ITS0CN36L1" />
    <add key="AlgoliaAPIKey" value="f8f175a0382883a0f3c7b9bacb7d1bd3" />
  </appSettings>
</configuration>